<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="To" value="test@test.com"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="test@test.com">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\MailDrop\" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>